

/*--------- Mobile---------------- */
@media screen and (min-width: 318px) and(max-width:340px) {
  .header {
    justify-content: space-around;
    align-items: center;
    padding:6px 7px ;
  }
  .searchbar {
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    height: 32px;
  }
 
  .menubar {
  	font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
    font-weight: bold;
  }
  .searchIcon{
     font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    font-weight: 300;
  }
  .searchButton{
      position: relative;
  }
}

@media screen and (min-width: 345px) and (max-width: 376px) {
 


}








@media screen and (min-width: 377px) and (max-width: 426px) { 
    .searchbar {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 34px;

}
.header{
     padding: 12px 15px 12px 15px;
}
.searchIcon{
   font-size: 1.25rem; /* 20px */
   line-height: 1.75rem; /* 28px */ 
}
.searchButton{
    right:44px;
    top:2px;
}
.menubar{
   font-size: 1.25rem; /* 20px */
line-height: 1.75rem; /* 28px */
}

}

/*--------Tablet-----------*/
@media screen and (min-width:541px)and (max-width: 768px) {
   
}



/*--------Laptop-----------*/
@media screen and (min-width:780px) and (max-width: 1230px) {
   
}




@media screen and (min-width: 1231px) and (max-width:2560px)  {

    

}
